/*
	Theme Name: PCOS Diva
	Theme URI: http://ansleyfones.com
	Author: Ansley Fones
	Author URI: http://ansleyfones.com
	Description: A Custom WordPress theme by Ansley Fones
	Version: 1.0
	Text Domain: pcosdiva
*/

/* --- Fonts --- */
.brandon {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	font-weight: 400;
}


/* --- Default Styles --- */
body {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
}
p, ol, ul {
	margin: 0;
	margin-bottom: 1.2em;
}
img.alignleft {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #333;
}
img.alignright {
	float: right;
	display: block;
	margin-left: 15px;
	margin-bottom: 10px;
}
img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

img.alignnone {
	float: none;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
}


/* --- Custom Theme Styles --- */
body {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif;
	background: #fff;
}
body *:not(.uk-icon):not(.ab-icon) {
	font-family: 'brandon-grotesque', Futura, 'Century Gothic', Lato, Helvetica, Arial, sans-serif !important;
}
em {
	color: #444;
}
a {
	color: #7757ad;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
a.no-deco {
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: none;
}
a img:not(.logo):hover {
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transition:all .15s  linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	-webkit-backface-visibility: none;
}

blockquote {
	margin-bottom: 1.7em;
}

ul.butterfly {
	list-style: none;
	padding-left: 13px;
}
ul.butterfly li {
	background: url('images/ul-butterfly.png') left 0 no-repeat no-repeat;
	padding-left: 35px;
	margin-left: -15px;
	margin-bottom: 11px;
}
.dPurple {
	color: #59437f;
}
.Purple {
	color: #7757ad;
}
.lPurple {
	color: #9d85be;
}
.orange {
	color: #f09723;
}
.white {
	color: #fff;
}
.uk-container {
	max-width: 1100px;
}
.fullwidth {
	max-width: 900px;
}
.uk-text-small {
	font-size: 13px;
}
.uk-navbar {
	background-color: rgba(120, 88, 173, 0.7);
}
.uk-navbar-nav li a {
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	padding: 6px 15px;
	text-shadow: none;
	font-weight: 500;
	letter-spacing: .5px;
}
.uk-navbar-nav > li > a {
	height: 56px;
}
.uk-navbar-nav li a:hover {
	background-color: transparent;
	color: #000000;
	border: none;
	text-shadow: none;
}
.uk-navbar-toggle {
	color: #fff;
	font-size: 22px;
	text-shadow: none;
}
.uk-navbar-toggle:hover {
	color: #fff;
}
.uk-navbar-center {
	position: relative;
	left: 10%;
}
.uk-dropdown {
	padding: 10px 15px;
}
.uk-dropdown,
.uk-dropdown-navbar {
	background: #7858ad;
	border: 0;
	border-radius: 0;
}
.uk-navbar-content.uk-align-right.uk-align-medium-left {
	margin-bottom: 0 !important;
}
.uk-navbar-content .searchform {
	width: 180px;
	margin: -31px auto 0;
}
.uk-navbar-content .searchform input[name=s] {
	height: 35px;
	background: none;
	border: 2px solid #fff;
	padding: 3px 9px;
	font-size: 15px;
	font-weight: bold;
	width: 75%;
}
.uk-navbar-content .searchform input[name=s]::-webkit-input-placeholder {
	color: #fff;
}
.uk-navbar-content .searchform input[name=s]:-ms-input-placeholder {
	color: #fff;
}
.uk-navbar-content .searchform input[name=s]:-moz-placeholder {
	color: #fff;
}
.uk-navbar-content .searchform input[name=s]::-moz-placeholder {
	color: #fff;
}
.uk-navbar-content .searchform input[type=submit] {
	width: 24%;
	font-size: 14px;
	font-weight: bold;
	color: #9F88C4;
	height: 35px;
	background: #fff;
}

.uk-dropdown li a:hover {
	box-shadow: none;
}
.uk-icon-button {
	background: transparent;
	position: relative;
	color: #ffffff;
	text-shadow: none;
	width: 25px;
	height: 30px;
	line-height: 40px;
	font-size: 20px;
	padding: 7px 15px;
	border: 0;
	z-index: 1010;
}
.uk-icon-button:hover {
	background-color: transparent;
	color: #000000;
	border: 0;
}
.fourohfour {
	font-size: 64px;
	line-height: 64px;
}
.site-header {
	background: #fff url('images/headerbg.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	/*box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.53);*/
}
.site-header.home {
	padding-bottom: 100px;
}
.site-header.small {
	padding-bottom: 0;
}
.site-header.tiny {
	padding-top: 50px;
	padding-bottom: 10px;
	position: relative;
}
.container {
	width: 85%;
	margin: 0 auto;
}

.site-header {
	-webkit-box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.15);
	box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.15);
}
.site-header .logo {
	margin-top: -24px;
}
.site-header .callout {
	color:  #59437f;
	text-align: center;
	font-size: 22px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 1.4; /* Approximation due to font substitution */
	margin: -65px auto;
}
.site-header.small .subscribe {
	background: #fff url('images/hopebg.jpg') no-repeat 50% 50%;
	background-size: cover;
	padding: 15px 0;
	margin-top: -25px;
	margin-bottom: 45px;
}
.site-header.small .subscribe h2 {
	color: #fff;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.4; /* Approximation due to font substitution */
	text-align: right; /* Align left on mobile */
	margin: 0;
}
.site-header.small .subscribe .uk-container {
	max-width: 1280px;
}
hr.butterfly {
	border: 0;
	height: 90px;
	background: url('images/butterfly-hr.png') 50% 0 no-repeat;
}
.uk-grid:not(.uk-grid-preserve):not(.tight)>* {
}


/* --- Generic Form Styles --- */
.uk-button.orange {
	background-color: #f09723;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	text-shadow: none;
	box-shadow: 2px 3px 4px 0px rgba(2, 2, 2, 0.53);
	border-radius: 0;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.uk-button.orange.small {
	font-size: 20px;
}
.uk-button.orange:hover {
	background: #ffbd6b;
	color: #fff;	
}
.uk-form input {
	font-size: 18px;
}
.uk-form input.clear {
	background: transparent;
	font-weight: 500;
	border-radius: 0;
}
.uk-form input.clear.white {
	color: #fff;
	border: 2px solid #fff;
}

.site-header.small .uk-form input.clear.white {
	max-width: 150px;
}

.uk-form input.clear.black {
	color: #000;
	border: 2px solid #000;
}
.uk-form input.clear.white::-webkit-input-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.black::-webkit-input-placeholder {
	color: #000;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.white:-moz-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.black:-moz-placeholder {
	color: #000;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.white::-moz-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.black::-moz-placeholder {
	color: #000;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.white:-ms-input-placeholder {
	color: #fff;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.black:-ms-input-placeholder {
	color: #000;
	font-weight: 500;
	text-shadow: none;
}
.uk-form input.clear.white:focus {
	background: transparent;
	color: #fff;
	font-weight: 500;
	border: 2px solid #f09723;
}
.uk-form input.clear.black:focus {
	background: transparent;
	color: #000;
	font-weight: 500;
	border: 2px solid #f09723;
}


/* --- Home Page Styles --- */
section.hope {
	background: #fff url('images/hopebg.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	padding: 45px 0 20px;
}
section.hope * {
	text-align: center;
	color: #fff;
}
section.hope h1 {
}
section.hope .callout p {
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.5; /* Approximation due to font substitution */
	width: 80%;
	margin: 15px auto;
}
section.hope .callout h2 {
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 1.2; /* Approximation due to font substitution */
}
section.hope .callout .uk-form {
	width: 50%;
	margin: 0 auto;
}

section.hope .callout .uk-form input.clear {
	padding: 6px;
	height: auto;
}

section.hope .callout .uk-grid div+div {
	margin-bottom: 30px;
	margin-top: 0;
}
section.butterfly {
	color: #747474;
	margin: 30px auto;
}
section.butterfly * {
	color: #747474;
	text-align: center;
}
section.butterfly > h3 {
	width: 90%;
	margin: 15px auto;
}
section.butterfly .uk-panel-box {
	background: transparent;
	border: none;
	border-radius: 0;
}
section.butterfly .uk-panel-box img {
	margin: 0 auto;
	position: relative;
	z-index: -10;
}
section.butterfly .uk-panel h3 {
	color: #000000;
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.1; /* Approximation due to font substitution */
	margin-top: -70px;
}
section.butterfly .uk-panel h3 span {
	text-transform: uppercase;
	color: #000000;
}
section.butterfly .uk-panel div {
	color: #747474;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.5; /* Approximation due to font substitution */
}
section.butterfly .uk-panel a {
	text-transform: uppercase;
	color: #f09723;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.5; /* Approximation due to font substitution */
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
	display: block;
	margin-top: 8px;
}
section.butterfly .uk-panel a:hover {
	color: #000;
}
section.about {
	background: #fff url('images/aboutbg.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	padding: 50px 0 75px;
}
section.about * {
	color: #0b4a97;
}
section.about .uk-container {
	max-width: 1250px;
}
section.about h1 {
	text-transform: uppercase;
	font-size: 42px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 0.5; /* Approximation due to font substitution */
	text-align: center;
	margin-bottom: 30px;
}
section.about div p {
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.55; /* Approximation due to font substitution */
	text-align: left;
}
section.about div p:last-of-type {
	padding-bottom: 35px;
}
section.about div a {
	color: #fff;
	font-size: 22px;
	text-align: left;
	padding: 15px 60px;
	border: 2px solid #fff;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
section.about div a:hover {
	color: #5F8295;
	background: #fff;
}
section.praise {
	background: #fff;
	background-position: top center;
	background-size: cover;
	padding: 65px 0;
}
section.praise * {
	color: #000;
	text-align: center;
	font-style: italic;
	font-weight: 100;
}
section.praise .uk-panel-box {
	background: transparent;
	border: none;
	border-radius: 0;
}
section.praise .uk-panel-teaser {
	width: 100%;
	height: 200px;
	margin-left: 0px;
	margin-right: 0px;
}
section.praise .uk-panel-box img {
	border-radius: 50%;
	margin: 0 auto;
}
section.praise h1 {
	font-size: 42px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 0.5; /* Approximation due to font substitution */
	font-style: normal;
}
section.praise h3 {
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 0.8; /* Approximation due to font substitution */
	font-style: normal;
}
section.praise a.more {
	color: #fff;
	background-color: #7757ad;
	margin-top: 15px;
	padding: 15px 60px;
	font-size: 18px;
	float: right;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
section.praise a.more:hover {
	color: #fff;
	background-color: #a87bf4;
}
section.blog {

}


/* --- About Page --- */
div.about {
	margin-top: -45px;
}
.about em {
	color: #282828;
}
.about-t,
.about-p {
	color: #282828;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 1.5; /* Approximation due to font substitution */
}
.about-p {
	width: 90%;
	margin: 0 auto 70px;
}
.about-t .container {
	margin: 15px 0 0 5%;
}

.about-t .container.about-box-2 {
	margin: 15px 5% 0 10%;
}

.about-t .notext {
	padding: 0px;
	background-repeat: no-repeat no-repeat;
	background-size: cover !important;
}
.about-t .hasbg {
	color: #fff;
	background: url('images/about-row2-bg.jpg') no-repeat no-repeat;
	background-size: cover !important;
}
.about-t .uk-width-medium-1-2 {
	height: 400px;
}

.about-t .hasbg h2,
.about-t .hasbg h1 {
	color: #fff;
}
.about-t .cta {
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.5; /* Approximation due to font substitution */
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
}
.about-t .cta.orange {
	color: #f09723;
	border: 2px solid #f09723;
}
.about-t .cta.orange:hover,
.about-p .cta:hover {
	background: #f09723;
	color: #fff;
}
.about-t .cta.white {
	color: #fff;
	border: 2px solid #fff;
}
.about-t .cta.white:hover {
	background: #fff;
	color: #7757ad;
}
.about-t h2,
.about-p h1 {
	color: #282828;
	font-size: 45px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 1; /* Approximation due to font substitution */
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 30px;
}
.about-p .cta {
	color: #f09723;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.5; /* Approximation due to font substitution */
	text-transform: uppercase;
	border: 2px solid #f09723;
	padding: 15px 60px;
	display: inline-block;
}

.amy-profile-pic {
	padding-left: 0;
	padding-right: 25px;
}


/* --- Programs Page (getting started) --- */
.programs {
}
.programs .top {
	background: url('images/gs_gradient.jpg') no-repeat center bottom;
	background-size: cover;
	height: 200px;
	padding: 45px 0;
}
.programs .content {
	margin-top: -125px;
}
.programs .content h2 {
	font-size: 36px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 34px; /* Approximation due to font substitution */
	margin-bottom: 5px;
	margin-top: 50px;
}
.programs .content h2:first-of-type {
	margin-top: 0;
}
.programs .content strong.sub {
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 28px; /* Approximation due to font substitution */
	margin-top: 0;
}
.programs .content ul strong {
	color: #7858ad;
}
.programs .content ul a {
	font-weight: 700;
}
.programs .quote {
	color:  #747474;
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 36px; /* Approximation due to font substitution */
	font-style: italic;
	text-align: center;
}
.programs .quote span {
	font-style: normal;
}

.programs section.butterfly .uk-panel h3 {
	margin-top: -50px;
}


/* --- Jumpstart Page --- */
.jumpstart {
	margin-top: 19px;
	margin-bottom: -50px;
}
.jumpstart-logo {
	max-width: 500px;
	padding-top: 35px;
}
.jumpstart-main {
	padding-right: 35px;
	padding-bottom: 60px;
}
.jumpstart .callout.widget {
	color: #fff;
}
.jumpstart .callout:not(.widget) {
	color: #333;
}
.jumpstart .callout {
	text-align: center;
	margin-top: 28px;
	margin-bottom: 45px;
	display: block;
}
.jumpstart .callout h3 {
	text-align: center;
	font-size: 28px; /* Approximation due to font substitution */
	font-weight: 300;
	line-height: 27px; /* Approximation due to font substitution */
}
.jumpstart .callout .sub {
	font-size: 20px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
}
.jumpstart .callout .link {
	margin-top: 15px;
}
.jumpstart .callout .link a {
	color: #f3a94e;
	font-size: 19px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
	padding: 10px 20px;
	border: #f3a94e 2px solid;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
	display: inline-block;
}
.jumpstart .callout .link a:hover {
	color: #fff;
	background: #f3a94e;
}
.jumpstart .hasbg {
	background: #2F1C94 url('images/jumpstart-bg.jpg') no-repeat no-repeat;
	background-size: contain;
	margin-top: -25px;
	color: #fff;
	height: 5440px;
}
.jumpstart .hasbg .container {
	margin-top: 225px;
}
.jumpstart .hasbg .title * {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.jumpstart .hasbg .title h2 {
	font-size: 39px; /* Approximation due to font substitution */
	font-weight: 500;
	line-height: 42px;
}
.jumpstart .hasbg .title h3 {
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 600;
	margin-top: 5px;
}
.jumpstart .hasbg .title a {
	font-size: 22px;
	font-weight: 700;
	padding: 18px 15px;
	border: #fff 2px solid;
	margin-bottom: 4px;
	display: inline-block;
}
.jumpstart .hasbg .title a:hover {
	background: #fff;
	color: #59437f;
}
.jumpstart .hasbg h4 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}
.jumpstart .more-praise {
	text-align: center;
}
.jumpstart .more-praise a {
	color: #f3a94e;
	font-size: 19px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 27px; /* Approximation due to font substitution */
	padding: 10px 20px;
	border: #f3a94e 2px solid;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.jumpstart .more-praise a:hover {
	color: #fff;
	background: #f3a94e;
}

/* --- Praise Page --- */
.praise {
}
.praise img {
	width: 150px;
	height: 150px;
}


/* --- Meal Plans Page --- */
.mealplans {
	margin: 45px 0;
}

.mealplans .mealplan-logo {
	max-width: 650px;
	width: 95%;
}

.mealplans a {
	color: #f09723;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.mealplans a:hover {
	color: #333;
}
.mealplans .intro {
	margin: 30px 0;
}
.mealplans ul {
	list-style: none;
}
.mealplans .hero {
	text-align: center;
	margin: 30px 0;
}
.mealplans .hero h2 {
	color:  #f09723;
	font-size: 35px; /* Approximation due to font substitution */
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.mealplans .hero p {
	font-size: 16px; /* Approximation due to font substitution */
	font-weight: 500;
	margin-bottom: 7px;
}
.mealplans .plans h2 {
	font-size: 35px; /* Approximation due to font substitution */
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin: 45px 0;
	line-height: 41px;
}
.mealplans .plans div {
	margin-bottom: 25px;
}
.mealplans .content {

}
.mealplans .content h2 {
	font-size: 26px; /* Approximation due to font substitution */
	font-weight: 300;
}
.mealplans .content .callout {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.mealplans .content .callout .box {
	border: #f09723 2px solid;
	padding: 15px 0;
	margin: 30px 0 0;
	/* Having brain fart on how to style this */
}
.mealplans .content .callout h3 {
	color: #f09723;
	font-size: 26px; /* Approximation due to font substitution */
	font-weight: 700;
}
.mealplans .content .callout p {
	display: block;
	margin: 0;
	font-size: 17px; /* Approximation due to font substitution */
	font-weight: 700;
}
.mealplans .content .callout h4,
.mealplans .content .callout h4 a {
	margin-top: 10px;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	margin-bottom: 40px;
}
.mealplans .content .faq {
	font-size: 16px;
	margin-top: 40px;
}
.mealplans .content .faq a {
	font-weight: 700;
}


/* --- Article Posts --- */
article {

}
.uk-article+.uk-article {
	border: 0;
}
article .uk-article-title {
	color: #7757ad;
	font-size: 27px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.2; /* Approximation due to font substitution */
}
article .uk-article-meta {
	color: #747474;
	font-size: 16px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.5; /* Approximation due to font substitution */
	margin: 0 0 15px;
}

.archive article img, .blog article img {
	width: 200px;
	height: auto;
}

.category hr {
	margin: 25px 0;
}

.article-text {
	margin-left: 215px;
}

article a.more {
	color: #f09723;
	font-weight: 700;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
article a.more:hover {
	color: #444;
}
.post.hero {
	background: #fff url('images/post-hero_bg.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	margin: 30px 0;
	padding: 30px 0;
}
.hero * {
	text-align: center;
}
.hero h3 {
	color: #fff;
	font-size: 23px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.05; /* Approximation due to font substitution */
	margin-top: 0;
}
.hero .uk-form {
	width: 50%;
	margin: 0 auto;
}
.post.related {
	height: 200px; /*Temp*/
	border: 2px solid #747474; /*Temp*/
	padding: 15px;
	margin: 30px 0;
}
.related h3 {
	color: #282828;
	font-size: 23px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 1.05; /* Approximation due to font substitution */
}

/* --- Testimonials --- */
#testimonial-sc .text {
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 300;
	font-style: italic;
	padding-left: 10px;
}


/* --- Sidebar Menu --- */
.sidebar:not(.jumpstart) * h3 {
	text-transform: uppercase;
	color: #747474;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 500;
	text-align: center;
}
.sidebar * h3 {
	text-transform: capitalize;
	color: #fff;
	font-size: 24px; /* Approximation due to font substitution */
	font-weight: 500;
	text-align: left;
}
.sidebar.jumpstart .widget {
	margin: 30px 0;
}
.sidebar .widget:not(.jumpstart) {
	margin-bottom: 45px;
	display: block;
}

/* --- Searchform --- */
.searchform {
	width: 100%;
	margin: 15px auto;
	display: block;
}
.searchform input[name=s] {
	display: inline;
	width: 79%;
	height: 46px;
	color: #005380;
	padding: 8px 9px;
	border: 2px #005380 solid;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
input[name=s]::-webkit-input-placeholder {
	color: #005380;
}
input[name=s]:-moz-placeholder {
	color: #005380;
}
input[name=s]::-moz-placeholder {
	color: #005380;
}
input[name=s]:-ms-input-placeholder {
	color: #005380;
}
.searchform input[type=submit] {
	background-color: #005380;
	display: inline;
	width: 20%;
	height: 46px;
	color: #fff;
	font-size: 20px;
	margin-left: -4px;
	border: 0;
	-webkit-transition: all linear .2s;
	transition: all linear .2s;
}
.searchform input[type=submit]:hover {
	color: #282828;
}


/* --- Pagination --- */
.uk-pagination li a {
	background-color: #7757ad;
	color: #fff;
	text-shadow: none;
	font-size: 17px;
}
.uk-pagination li a:hover {
	background-color: #59437f;
	color: #fff;
	text-shadow: none;
}


/* --- Footer --- */
footer {
	margin-top: 30px;
}
footer .bubble {
	background: #fff url('images/bubble-footer.jpg') no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	padding: 45px 0;
}
footer .bubble * {
	text-align: center;
}
footer .bubble .uk-form {
	width: 50%;
	margin: 0 auto;
}
footer .af {
	background-color:  #005380;
}
footer .af div,
footer .af a,
footer .af a:hover {
	padding: 10px 0;
	color: #fff;
}

footer .uk-form input.clear {
	padding: 6px;
	height: auto;
}

/*----- PLUGIN STYLES --------*/

.nrelate_default .nr_img_div img, .nrelate_default .nr_img_div img, .nrelate_tre .nr_img_div img, .nrelate_default .nr_img_div {
	border: 0 !important;
}

.yarpp-related {
	margin-bottom: 30px!important;
}


/* --- Responsive --- */

/* Desktop and bigger */
@media (min-width: 960px) {
}
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
	.site-header.home {
		padding-bottom: 15px;
	}
	.site-header.tiny {
		padding-top: 0;
	}
	.site-header.small .logo {
		margin-bottom: 30px;
	}
	.site-header .logo {
		margin-top: 15px;
	}
	.about-t .uk-width-medium-1-2 {
		height: 575px;
	}
}
/* Phone landscape and smaller */
@media (max-width: 767px) {
	.site-header.home {
		padding-bottom: 15px;
	}
	.site-header.tiny {
		padding-top: 0;
	}
	.site-header.small .logo {
		margin-bottom: 30px;
	}
	.site-header .logo {
		margin: 15px auto 30px;
		max-width: 96%;
	}
	.site-header.small .subscribe h2 {
		text-align: center;
	}
	* .uk-form {
		width: 100% !important;
	}
	.uk-navbar-content.uk-align-left {
		display: none;
	}
	.uk-icon-button {
		padding: 0 15px;
	}
	.about-t .uk-width-medium-1-2 {
		height: auto;
		margin: 65px auto 0;
	}
	.about-t .container {
		margin: 0 auto;
	}
	.about-t .container.about-box-2 {
		margin: 25px auto 53px;
	}
	.about-t .cta {
		font-size: 16px;
	}
	.about-t .notext {
		display: none;
	}
	#extended-story {
		padding-left: 0;
	}
	.amy-profile-pic, .about-p div.uk-width-medium-1-2 {
		padding-left: 0;
		padding-right: 0;
	}
	.mobile-banner {
		max-height: 100px;
		width: 100%;
		overflow: hidden;
	}
	.mobile-banner img {
		margin-top: -85%;
	}
	
	.jumpstart .hasbg {
		height: auto;
		padding-bottom: 45px;
	}
	
	.jumpstart-main {
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
}

@media (max-width: 476px) {
	.uk-navbar .uk-container {
		width: 98%;
		padding: 0;
	}
	.mealplans .plans div .uk-width-small-2-10 {
		margin-top: 0;
	}
	.jumpstart .hasbg {
		height: 2900px;
	}
}